.highlighted-row {
  background-color: yellowgreen;
}

td {
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

th {
  white-space: nowrap;
  text-overflow: ellipsis;
}
